<!DOCTYPE html>
<html>
   <head>
		<title>ABC</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="~/css/main.css"/>
		<link rel="icon" href="~/css/images/logo.ico">
        @* <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> *@
	</head>
<body>
   <!-- Header -->
				<div id="header">

					<!-- Logo -->
						<h1><a href="~/Home/Index" id="logo" align="center"><img style="width: 10%; height:15%;"  src="//upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Diario_ABC_logo.svg/512px-Diario_ABC_logo.svg.png" class="img-fluid" alt="ABC"></em></a></h1>
					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li class="current"><a href="~/Home/Index">Home</a></li>
								<li><a asp-controller="Home" asp-action="Somos">Somos</a></li>
								<li>
									@{if(!String.IsNullOrEmpty(ViewBag.Rol)){
										if(@ViewBag.Rol=="Participante"){
											<a asp-controller="Curso" asp-action="Cursos">Cursos</a>
										}
										if(@ViewBag.Rol=="GerenteEventos"){
											<a asp-controller="Evento" asp-action="CrearEvento">Crear Evento</a>
											<li><a asp-controller="Evento" asp-action="VisualizarTodo">Visualizar Todo</a></li>
										}
										if(@ViewBag.Rol=="OrganizadorEventos"){
											<a href="#">Lista de Eventos</a>
											<ul><br>
											<li><a asp-controller="Evento" asp-action="VisualizarTodo">Visualizar Todo</a></li>
											<li><a asp-controller="Evento" asp-action="VisualizarConfirmados">Visualizar Confirmados</a></li>
											<li><a asp-controller="Evento" asp-action="VisualizarPendientes">Visualizar Pendientes</a></li>
											
										</ul>
										}
									}

									}
								<li>
								<li>	
									@{
										if(!String.IsNullOrEmpty(ViewBag.Message)){
											if(@ViewBag.Message=="Iniciar Sesión"){
											<a class="nav-link" asp-controller="Usuario" asp-action="Login">Iniciar Sesión</a>
											}
											else{
												<a class="nav-link dropdown-toggle"  data-toggle="dropdown" role="button" aria-haspopup="true" id="user" >Gestor, @ViewBag.Message</a>
											<ul><br>
												<li><a asp-controller="Evento" asp-action="VisualizarConfirmados">Ver Perfil</a></li>
												<li><a class="dropdown-item" id="opt" asp-controller="Usuario" asp-action="Login">Cerrar sesión</a></li>		
											</ul>
												<li><a  class="nav-link" asp-controller="Carrito" asp-action="Carrito"><i id="carrito" class="far fa-clipboard"></i></a></li>
												<li><a  class="nav-link" asp-controller="Carrito" asp-action="Carrito"><i id="carrito" class="fas fa-clipboard-list"></i></a></li>                                     					
											}                             
										}
									}	
								</li>
							</ul>
						</nav>
				</div>
    
   

    
    <main>
        @RenderBody()
    </main>
    <!-- Scripts -->
			<script src="~/js/jquery.min.js"></script>
			<script src="~/js/jquery.dropotron.min.js"></script>
			<script src="~/js/browser.min.js"></script>
			<script src="~/js/breakpoints.min.js"></script>
			<script src="~/js/util.js"></script>
			<script src="~/js/main.js"></script>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
				
</body><br>
				<section id="cta" class="wrapper style3">
					<div class="container">
						<header>
							<h2>Entérate de todas las novedades del mundo ágil</h2>
							<a href="#" class="button">Suscribete</a>
						</header>
					</div>
				</section>

                <div id="footer">
					<div class="container">
						<div class="row">
							<section class="col-3 col-6-narrower col-12-mobilep">
								<h3></h3>
								<ul class="links">
									<li><a href="#"></a></li>
									<li><a href="#"></a></li>
									<li><a href="#"></a></li>
									<li><a href="#"></a></li>
									<li><a href="#"></a></li>
									<li><a href="#"></a></li>
									<li><a href="#"></a></li>
								</ul>
							</section>
							<section class="col-3 col-6-narrower col-12-mobilep">
								<h3></h3>
								<ul class="links">
									<li><a href="#"></a></li>
									<li><a href="#"></a></li>
									<li><a href="#"></a></li>
									<li><a href="#"></a></li>
									<li><a href="#"></a></li>
									<li><a href="#"></a></li>
									<li><a href="#"></a></li>
								</ul>
							</section>
							<section class="col-6 col-12-narrower">
								<h3>Contacto</h3>
								<form>
									<div class="row gtr-50">
										<div class="col-6 col-12-mobilep">
											<input type="text" name="name" id="name" placeholder="Name" />
										</div>
										<div class="col-6 col-12-mobilep">
											<input type="email" name="email" id="email" placeholder="Email" />
										</div>
										<div class="col-12">
											<textarea name="message" id="message" placeholder="Message" rows="5"></textarea>
										</div>
										<div class="col-12">
											<ul class="actions">
												<li><input type="submit" class="button alt" value="Enviar" /></li>
											</ul>
										</div>
									</div>
								</form>
							</section>
						</div>
					</div>


					<!-- Icons -->
						<ul class="icons">
							<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
							<li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
							<li><a href="#" class="icon brands fa-google-plus-g"><span class="label">Google+</span></a></li>
						</ul>


					<!-- Copyright -->
						<div class="copyright">
							<ul class="menu">
								<li>&copy; Copyright © ABC 2020</li><li>Declaración de privacidad | Términos y condiciones</li>
							</ul>
						</div>

				</div>
</html>
