@{
var evento = TempData["nom_evento"] as string;
var cantidad = TempData["nro_participante"] as int?;
}

@model List<Participante_Evento>

	<link rel="stylesheet" type="text/css"
		href="~/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css"
		href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
	<link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
	<link rel="stylesheet" type="text/css"
		href="~/vendor/perfect-scrollbar/perfect-scrollbar.css">
	<link rel="stylesheet" type="text/css" href="~/css/tableutil.css">
	<link rel="stylesheet" type="text/css" href="~/css/tableconfirmados.css">
	<link rel="stylesheet" href="~/css/main.css" />

	<div class="limiter">
		<br><h3 align="center" style="font-size: 40px;">Asistencia de Participantes
			por Evento</h3>
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100">
					<div><p align="center">Nombre Evento: @evento </p></div>
					<div><p align="center">Nro_Participantess: @cantidad</p></div>
					<table>
						<thead>
							<tr class="table100-head">
								<th class="column">DNI</th>
								<th class="column">Apellidos</th>
								<th class="column">Nombres</th>
								<th class="column">Estado Asistencia</th>
								<th class="column">Asistencia</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var p in Model){
							<tr>
								<td class="column">@p.Participante.CodParticipante</td>
								<td class="column">@p.Participante.ApellidoPaterno</td>
								<td class="column">@p.Participante.PrimerNombre</td>
								<td class="column">@p.Comentario</td>
								<td class="column">
									<a class="btn" asp-controller="Asistencia"
										asp-action="MarcarAsistencia"
										asp-route-idP="@p.ParticipanteId" asp-route-idE="@p.EventoId">
										<i class="far fa-trash"></i>Marcar
									</a>
								</td>
							</tr>}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
	<script src="~/vendor/bootstrap/js/popper.js"></script>
	<script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="~/vendor/select2/select2.min.js"></script>
	<script src="~/js/table.js"></script>