@{
    var idevento = TempData["ide"] as int?;
    var idu = TempData["idusu"] as int?;
}

@model Evento

<body>

		<div class="container" style="padding-bottom: 10%; padding-right:10%; padding-left:10%; padding-top:2%;">						
            <section  class="col-8 col-12-narrower">
		<center><div class="row gtr-50">
                    <div class="col-4 col-12-mobilep">
                        <h2>@Html.DisplayTextFor(Models => Models.NombreEvento)</h2>
				    </div>
                    <div class="col-4 col-12-mobilep">
                        <h5>Inversión</h5>
                        <p>@Html.DisplayTextFor(Models => Models.Inversion)</p>
				    </div>
                    <div class="col-4 col-12-mobilep">
                        <h5>Stock de participantes</h5>
                        <p>@Html.DisplayTextFor(Models => Models.StockParticipantes)</p>
				    </div>
                    <div class="col-12 col-12-mobilep">
                        <h5>Descripción</h5>
                        <p>@Html.DisplayTextFor(Models => Models.Descripcion)</p>
				    </div>
                    <div class="col-12 col-12-mobilep">
                        <h5>Horarios disponibles</h5>
                        <p>@Html.DisplayTextFor(Models => Models.Frecuencia)</p>
                        <p>@Html.DisplayTextFor(Models => Models.HoraInicio) - @Html.DisplayTextFor(Models => Models.HoraFin)</p>
                        <p>@Html.DisplayTextFor(Models => Models.FechaInicio) - @Html.DisplayTextFor(Models => Models.FechaFin)</p>
				    </div>    
                    <div class="bottom-wrap">
                                    <a  asp-controller="Inscripcion"
                                        asp-action="PreInscripcionCursos"
                                        asp-route-idE="@idevento"
                                        asp-route-idU="13" id="but"
                                        class="btn float-right"
                                        >Pre inscripción</a>
            <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
                    </div>
                </div></center>				
			</section>
						
		</div>
        <br><br>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>


