@{
    var idevento = TempData["ide"] as int?;
    var idu = TempData["idusu"] as int?;
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="~/css/detalle.css">
<link rel="stylesheet" href="~/css/main.css"/>

@model Evento
<body>

		<div class="container" style="padding-bottom: 10%; padding-right:10%; padding-left:10%; padding-top:2%;">						
            <section  class="col-8 col-12-narrower">
		<center><div class="row gtr-50">
                    <div class="col-12 col-12-mobilep">
                        <h2>@Html.DisplayTextFor(Models => Models.NombreEvento)</h2>
				            </div>
                    <div class="col-12 col-12-mobilep">
                    <img class="card-img-top" src="https://image.freepik.com/vector-gratis/reunion-junta-scrum-tareas-planificacion-equipo-negocios-conferencia-trabajadores-oficina-diagrama-flujo-trabajo-ilustracion-dibujos-animados_102902-1242.jpg" alt="CURSOS_IMG">
				            </div>
                    <div class="col-6 col-12-mobilep">
                        <strong><h5>INVERSION </h5></strong>
                        <p>@Html.DisplayTextFor(Models => Models.Inversion)</p>
				            </div>
                    <div class="col-6 col-12-mobilep">
                        <h5>STOCK DE PARTICIPANTES</h5>
                        <p>@Html.DisplayTextFor(Models => Models.StockParticipantes)</p>
				            </div><br>
                    <div class="col-12 col-12-mobilep">
                        <h5>DESCRIPCION</h5>
                        <p>@Html.DisplayTextFor(Models => Models.Descripcion)</p>
				            </div><br><br>
                    <div class="col-12 col-12-mobilep">
                        <h5>HORARIOS DISPONIBLES</h5>
                        <p>@Html.DisplayTextFor(Models => Models.Frecuencia)</p>
                        <p>@Html.DisplayTextFor(Models => Models.HoraInicio) - @Html.DisplayTextFor(Models => Models.HoraFin)</p>
                        <p>@Html.DisplayTextFor(Models => Models.FechaInicio) - @Html.DisplayTextFor(Models => Models.FechaFin)</p>
				            </div>    <br><br>
                    <div class="bottom-wrap">
<<<<<<< HEAD
                                    <a asp-controller="Inscripcion"
                                        asp-action="PreInscribir"
                                        asp-route-idE="@idevento"
                                        asp-route-idU="@idu" id="but"
                                        class="btn btn-default">Pre inscripción</a>

                    </div>
                </div></center>				
			</section>
						
		</div>
        <br><br>

          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>  
</body>


=======
                                    <a  asp-controller="Inscripcion"
                                        asp-action="PreInscribir"
                                        asp-route-idE="@idevento"
                                        asp-route-idU="@idu" id="but"
                                        class="button large">Pre inscripción</a>
    <!-- Modal -->
    
                    </div>
                </div></center>		
                		
			</section>
						
		</div>
        <br><br>          
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>  
</body>
@* <div class="modal fade" id="myModal" role="dialog">
<div class="modal-dialog">      
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">PRE INSCRIPCION EXITOSA</h4>
        </div>
        <div class="modal-body">
          <p>SE TE HA ENVIADO 1 CORREO CUPON.</p>
        </div>
        <div class="modal-footer">
          <a method="get" asp-controller="Inscripcion" asp-action="PreInscripcionCursos" type="button" class="btn btn-default">Cursos PreInscritos</a>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>      
    </div>
  </div> *@
>>>>>>> develop
