@{
    var idusu = TempData["idusu"] as int?;
}

@model List<Evento>
  
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<body>
  <div class="container" style="padding-top:10px">
            <header class="major">
								<br><center><h2 class="letra">Desarrollo de Software</h2><center><br>
            </header>    
      <div class="card-deck">
         @foreach (var e in Model){
        <div class="card">
          <img class="card-img-top" src="https://www.liguesite.com.br/images/blog/gestao-da-producao.jpg" alt="CURSOS_IMG">
          <div class="card-body">
            <h4 class="card-title">@e.NombreEvento</h4>
            <hr>
            <h5 class="card-text">@e.Categoria.NombreCategoria</h5>
            <p class="card-text">A cargo de <strong>@e.Instructor.PrimerNombre @e.Instructor.ApellidoPaterno @e.Instructor.ApellidoMaterno</strong></p>
            <p class="card-text">@e.Descripcion</p>
            <a asp-controller="Curso"
                asp-action="CursoDetalle"
                asp-route-idE="@e.Id" id="but"
                class="btn float-left">Ver</a>
          </div>
        </div> 
        }
      </div>
      
  </div>
</body>